body {
	background-color: white;

}
#hoved {
	width: 99%;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
  border-color: white;
	border-width: thin;
	border-radius: 15px;
	background-color: white;

}
#top {
	width: 90%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 15px;
	text-align: center;
	background-color: white;
	vertical-align: middle;
	line-height: 150px;
	font-size: 180%

}
#menu {
	width: 20%;
	height: 500px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 15px;
	margin-left: 5%;
	margin-top: -2%;
	float: left;
	background-color: white;
	font-family: "courier";

}
#indhold {
	width: 69%;
	height: 500px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 15px;
	margin-right: 5%;
	margin-top: 1%;
	float: right;
	background-color: white;

}
a {
	text-decoration: none;
	color: white;
	font-family: "courier";
  height : 20px;
  width: 100px;
  background-color : black;
  display: inline-block;

}
p.afsnit1 {
	font-family: "courier";
	color: #000000;
	margin-top: 80px;
	font-size-adjust: 0.58;

}
p.afsnit2 {
  font-family: "courier";
	color: #000000;
	margin-left: 50px;

}
w.afsnit3 {
  font-family: "courier";
	color: white;
	margin-left: 50px;

}
h1 {
	font-family: "courier";
	color: pink;
  margin-top: -95px;
	margin-left: -1200px;

}
#Logo	{
  margin: auto 5px;
  float: right;
	margin-top: -200px;
	margin-right: 150px;

}
#R1 {
	float: left;
	margin-left: 0px

}
#R2 {
	float: left;
	margin-left: 160px;

}
#R3 {
	float: left;
	margin-left: 200px;

}
